input {
    margin-left: 50px;
    width: 400px;
    height: 60px;
    border-radius: 8px;
    font-size: 1.5rem;
    border: 2px solid rgb(162, 160, 160);
    background-color: #e7e7ed;
    color: #070827;
}


button {
    margin-left: 5px;
    margin-bottom: 20px;
    width: 190px;
    height: 60px;
    border-radius: 8px;
    font-size: 1.5rem;
    background-color: #66bae3;
    color: rgb(27, 14, 14);
    font-weight: bold;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: #e7e7ed;
}