.card-container {
    background-image: linear-gradient(to top, #005fee, #0086ff, #00a7ff, #00c4ff, #51dffd);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 400px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-card {
    margin-right: 5rem;
}

.city-name {
    color: white;
}

.temp-img {
    width: 100px;
}

.temp {
    margin-top: 3rem;
    font-size: 4rem;
    color: rgb(254, 254, 254);
    font-weight: 540;
}

.temp-card-desc {
    margin-right: 1.7rem;
}

h3 {
    color: white;
    font-size: 4rem;
}

.temp-card-desc p {
    color: rgb(254, 254, 254);
    font-size: 2rem;
    font-weight: 540;
    margin-bottom: 1.5rem;
}