body {
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #2572e5, #205cce, #1c46b7, #1830a0, #141989);
}

.app-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 100px;
}
